name: Deploy Vite React App to GitHub Pages

on:
    push:
        branches:
            - main # Branch, der deployt werden soll

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest

        steps:
            # 1. Repository auschecken
            - name: Checkout Repository
              uses: actions/checkout@v3

            # 2. Node.js installieren
            - name: Setup Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: 20

            # 3. Dependencies installieren
            - name: Install dependencies
              run: npm ci

            # 4. Projekt bauen
            - name: Build project
              run: npm run build

            # 5. Dist hochladen zu GitHub Pages
            - name: Deploy to GitHub Pages
              uses: actions/upload-pages-artifact@v3
              with:
                  path: dist
